@media (max-width: 1600px) {
  .index3 .hero-area {
    padding: 112px 0px 56px;
  }
}

@media (max-width: 1366px){
  .hero-area,
  .index3 .hero-area,
  .index4 .hero-area
  {
    /* padding: 201px 0px 147px; */
    padding: 173px 0px 119px;
  }
.hero-area::after {
  border-radius: 0px 0px 550px 0px;
}
.index2 .hero-area {
  padding: 156px 0px 350px;
}


}


@media  (max-width: 1199px) {
  .index2 .hero-area .left-content .text {
    padding: 0px 80px;
}
.index2 .hero-area .left-content .subscribe-area {
  padding: 0px 110px;
}

  /* .index3 .hero-area {
    padding: 259px 0px 205px;
  } */
}



@media  (max-width: 991px) {
 
  .header .mainmenu-area .navbar #main_menu .navbar-nav .nav-item .nav-link .mr-hover-effect{
    display: none;
  }
  .header .mainmenu-area .navbar #main_menu .navbar-nav .nav-item .nav-link {
    padding: 8px 10px;
  }
  .header .mainmenu-area .navbar .navbar-brand {
    padding-left: 0px;
  }

  .hero-area .hero-img{
    position: relative;
    max-width: 50%;
    width: auto;
    left: 50%;
    top: 0px;
    margin-top: 0px;
    transform: translateX(-50%);
  }
  .mainmenu-area{
    background: linear-gradient(50deg, #6e00ff 0, #bb00ff 100%);
    padding: 10px 0px;
    border-bottom: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .index3 .mainmenu-area,
  .index4 .mainmenu-area
  {
    background: #fff;
  }

  .hero-area
   {
    padding: 150px 0px 150px;
}
.index3 .hero-area,
.index4 .hero-area{
  /* padding: 134px 0px 76px; */
  padding: 50px 0px 0px;
}
.index4 .hero-area .hero-area-slider .item .right-content img,
.index3 .right-content img
{
  max-width: 350px;
}
.index4 .hero-area .hero-area-slider .item .right-content,
.index3  .right-content
{
  margin-top: 40px;
}
.home5.mainmenu-area {
  background: #1c233c;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.video-play-btn {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}
.video-play-btn:before {
  width: 80px;
  height: 80px;
}
.hero-area .left-content .content .title {
  font-size: 40px;
  line-height: 50px;
}
.hero-area .left-content .content .text {
  font-size: 16px;
  line-height: 26px;
}
.hero-area .left-content{
  margin-top: 44px;
  text-align: center;
}
.hero-area .left-content .content .subscribe-area{
  padding: 0px 100px;
}
.hero-area::after{
  border-radius: 0px;
}
.hero-area {
  padding: 150px 0px 100px;
}
.single-feature {
  margin-bottom: 30px;
}
.features .base-btn1 {
  margin-top: 11px;
}
.about-area .image.pr-30{
  padding-right: 0px;
}
.about-area .image.pl-30{
  padding-left: 0px;
}
.features {
  padding-bottom: 100px;
}
.about-area .content {
  margin-top: 40px;
}
.about-area .mb-100 {
  margin-bottom: 125px;
}
.single-how-it-work{
  margin-bottom: 30px;
}
.how-it-work {
  padding: 116px 0px 100px;
}
.single-counter {
  margin-bottom: 23px;
}
.counter-area {
  padding: 126px 0px 102px;
}
.ger-start-secrion .right-links{
  text-align: left;
  margin-top: 18px;
}
.footer-widget.info-link-widget.link-w-2{
  margin-top: 20px;
}
.copy-bg{
  text-align: center;
}
.footer .copy-bg .social-links{
  text-align: center;
  margin-top: 10px;
}
.section-heading .title {
  font-size: 34px;
  line-height: 44px;
}

.single-counter .counter-wrapper {
  font-size: 34px;
  line-height: 44px;
}

.mainmenu-area .navbar #main_menu .navbar-nav .nav-item .nav-link {
 
    padding: 5px 15px;
    display: inline-block;
}
div#main_menu ul{
  padding: 15px 0px 5px;
}
.mainmenu-area .navbar .base-btn2{
  margin-bottom: 8px;
}

.mainmenu-area .navbar #main_menu .navbar-nav .nav-item .dropdown-menu{
  position: relative;
  left: 0px;
  width: 100%;
}

.index2 .hero-area .left-content {
  margin-top: 0px;
}
.index2 .hero-area {
  padding: 142px 0px 350px;
}
.breadcrumb-area {
  padding: 143px 0px 97px;
}
.breadcrumb-area .title {
  font-size: 30px;
  line-height: 40px;
}
.categori-widget{
  margin-top: 60px;
}

.pricing2 .price-box{
  margin-bottom: 30px;
}
.pricing2 {
  padding: 121px 0px 100px;
}
.faq-area2 #tour-faq2{
  margin-bottom: 30px;
}
.contact .address-area{
  margin-top: 60px;
}
.contact .contact-form-wrapper:before{
  width: 100%;
}

.index4 .mainmenu-area .navbar-light .navbar-toggler-icon, 
.index3 .mainmenu-area .navbar-light .navbar-toggler-icon 
{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.index4 .hero-area .owl-controls .owl-dots {

  bottom: -60px;
}



}

@media  (max-width: 767px) {
 
  .hero-area .left-content .content .subscribe-area {
    padding: 0px 0px;
}
.single-blog .content .title {
  font-size: 20px;
  line-height: 30px;
}
.hero-area .hero-img {
  max-width: 70%;
}
.index2 .hero-area .left-content .text {
  padding: 0px 0px;
}



}


@media  (max-width: 575px) {
  .footer-widget.info-link-widget {
    margin-top: 33px;
}
.single-feature .title,
.single-how-it-work .title,
.comment-area .title,
.write-comment .title,
.categori-widget .title,
.latest-post-widget .title,
.newsletter-widget .title,
.about-area .about-list.with-icon li .feature-info .inner-content .title
{
  font-size: 20px;
  line-height: 30px;
}
.ger-start-secrion .title {
  font-size: 24px;
  line-height: 34px;
}
.single-blog-details .content .title{
  font-size: 24px;
  line-height: 34px;
}
.section-heading .title {
  font-size: 30px;
  line-height: 40px;
}

}



@media  (max-width: 414px) {
  
  .hero-area .hero-img {
    max-width: 90%;
}
.hero-area .left-content .content .subscribe-area .subscribe-form .submit-btn {
  padding: 0px 12px;
}

.hero-area .left-content .content .subscribe-area .subscribe-form input {
  height: 45px;
  padding: 0px 135px 0px 20px;
  font-size: 14px;
}

.hero-area .left-content .content .subscribe-area .subscribe-form .submit-btn {
  height: 41px;
  line-height: 41px;
  padding: 0px 12px;
  font-size: 14px;
}
.hero-area .left-content .content .title {
  font-size: 32px;
  line-height: 42px;
}
.ger-start-secrion .title {
  font-size: 26px;
  line-height: 36px;
}

.ger-start-secrion .right-links a{
  padding: 12px 25px;
}
.ger-start-secrion .right-links .base-btn2{
  margin-left: 10px;
}
.index2 .video-area {
  margin-top: -120px;
}
.index2 .hero-area {
  padding: 142px 0px 220px;
}
.comment-area .comment-box-area li .comment-box.replay-comment {
  margin-left: 30px;
}

.comment-area .comment-box-area li .comment-box .left{
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.comment-area .comment-box-area li .comment-box .right{
  margin-left: 0px;
}
.bottomtotop i {
  width: 40px;
  height: 40px;
  line-height: 40px;
}


}


@media  (max-width: 360px) {
  .section-heading .title {
    font-size: 26px;
    line-height: 36px;
}
.single-counter .counter-wrapper {
  font-size: 30px;
  line-height: 40px;
}
.hero-area .left-content .content .title {
  font-size: 30px;
  line-height: 40px;
}
}



