    /*
    Flaticon icon font: Flaticon
    Creation date: 27/10/2019 12:52
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-gear:before { content: "\f100"; }
.flaticon-lock:before { content: "\f101"; }
.flaticon-security:before { content: "\f102"; }
.flaticon-global:before { content: "\f103"; }
.flaticon-server:before { content: "\f104"; }
.flaticon-shield:before { content: "\f105"; }
.flaticon-cpu:before { content: "\f106"; }
.flaticon-lightbulb:before { content: "\f107"; }
.flaticon-code:before { content: "\f108"; }
.flaticon-chronometer:before { content: "\f109"; }
.flaticon-code-1:before { content: "\f10a"; }
.flaticon-download:before { content: "\f10b"; }
.flaticon-key:before { content: "\f10c"; }
.flaticon-upload:before { content: "\f10d"; }
.flaticon-magnifying-glass:before { content: "\f10e"; }
.flaticon-code-2:before { content: "\f10f"; }
.flaticon-mouse:before { content: "\f110"; }
.flaticon-modem:before { content: "\f111"; }
.flaticon-code-3:before { content: "\f112"; }
.flaticon-gear-1:before { content: "\f113"; }
.flaticon-keyboard:before { content: "\f114"; }
.flaticon-cloud-computing:before { content: "\f115"; }
.flaticon-security-1:before { content: "\f116"; }
.flaticon-cloud-computing-1:before { content: "\f117"; }
.flaticon-code-4:before { content: "\f118"; }
.flaticon-global-1:before { content: "\f119"; }
.flaticon-code-5:before { content: "\f11a"; }
.flaticon-ram:before { content: "\f11b"; }
.flaticon-upload-1:before { content: "\f11c"; }
.flaticon-server-1:before { content: "\f11d"; }
.flaticon-modem-1:before { content: "\f11e"; }
.flaticon-code-6:before { content: "\f11f"; }
.flaticon-firewall:before { content: "\f120"; }
.flaticon-cpu-1:before { content: "\f121"; }
.flaticon-code-7:before { content: "\f122"; }
.flaticon-folder:before { content: "\f123"; }
.flaticon-virus:before { content: "\f124"; }
.flaticon-computer:before { content: "\f125"; }
.flaticon-server-2:before { content: "\f126"; }
.flaticon-virus-1:before { content: "\f127"; }
.flaticon-security-2:before { content: "\f128"; }
.flaticon-folder-1:before { content: "\f129"; }
.flaticon-cpu-2:before { content: "\f12a"; }
.flaticon-server-3:before { content: "\f12b"; }
.flaticon-server-4:before { content: "\f12c"; }
.flaticon-cpu-3:before { content: "\f12d"; }
.flaticon-code-8:before { content: "\f12e"; }
.flaticon-password:before { content: "\f12f"; }
.flaticon-code-9:before { content: "\f130"; }
.flaticon-software:before { content: "\f131"; }
.flaticon-online-shopping:before { content: "\f132"; }
.flaticon-backup:before { content: "\f133"; }
.flaticon-chat:before { content: "\f134"; }
.flaticon-streaming:before { content: "\f135"; }
.flaticon-online:before { content: "\f136"; }
.flaticon-live-streaming:before { content: "\f137"; }
.flaticon-social-media:before { content: "\f138"; }
.flaticon-sharing:before { content: "\f139"; }
.flaticon-online-gaming:before { content: "\f13a"; }
.flaticon-online-banking:before { content: "\f13b"; }
.flaticon-online-1:before { content: "\f13c"; }
.flaticon-email:before { content: "\f13d"; }
.flaticon-online-music:before { content: "\f13e"; }
.flaticon-online-gaming-1:before { content: "\f13f"; }
.flaticon-audio-book:before { content: "\f140"; }
.flaticon-ebook:before { content: "\f141"; }
.flaticon-mobile-video:before { content: "\f142"; }
.flaticon-subscription:before { content: "\f143"; }
.flaticon-renew:before { content: "\f144"; }
.flaticon-online-shopping-1:before { content: "\f145"; }
.flaticon-online-2:before { content: "\f146"; }
.flaticon-phone:before { content: "\f147"; }
.flaticon-cloud-storage:before { content: "\f148"; }
.flaticon-transfer-money:before { content: "\f149"; }
.flaticon-stream-video:before { content: "\f14a"; }
.flaticon-worldwide:before { content: "\f14b"; }
.flaticon-calendar:before { content: "\f14c"; }
.flaticon-arroba:before { content: "\f14d"; }
.flaticon-mail:before { content: "\f14e"; }
.flaticon-telephone:before { content: "\f14f"; }
.flaticon-contract:before { content: "\f150"; }
.flaticon-placeholder:before { content: "\f151"; }
.flaticon-telephone-1:before { content: "\f152"; }
.flaticon-telephone-2:before { content: "\f153"; }
.flaticon-message:before { content: "\f154"; }
.flaticon-sms:before { content: "\f155"; }
.flaticon-chat-1:before { content: "\f156"; }
.flaticon-wall-clock:before { content: "\f157"; }
.flaticon-id-card:before { content: "\f158"; }
.flaticon-assistance:before { content: "\f159"; }
.flaticon-mouse-1:before { content: "\f15a"; }
.flaticon-headset:before { content: "\f15b"; }
.flaticon-smartphone:before { content: "\f15c"; }
.flaticon-like:before { content: "\f15d"; }
.flaticon-camera:before { content: "\f15e"; }
.flaticon-key-1:before { content: "\f15f"; }
.flaticon-prize:before { content: "\f160"; }
.flaticon-truck:before { content: "\f161"; }
.flaticon-mobile-phone:before { content: "\f162"; }
.flaticon-amount:before { content: "\f163"; }
.flaticon-info:before { content: "\f164"; }
.flaticon-email-1:before { content: "\f165"; }
.flaticon-support:before { content: "\f166"; }
.flaticon-review:before { content: "\f167"; }
.flaticon-download-1:before { content: "\f168"; }
.flaticon-smile:before { content: "\f169"; }
.flaticon-account:before { content: "\f16a"; }
.flaticon-bell:before { content: "\f16b"; }
.flaticon-reuse:before { content: "\f16c"; }
.flaticon-share:before { content: "\f16d"; }
.flaticon-hand:before { content: "\f16e"; }
.flaticon-vip:before { content: "\f16f"; }
.flaticon-microphone:before { content: "\f170"; }
.flaticon-energy:before { content: "\f171"; }
.flaticon-heart:before { content: "\f172"; }
.flaticon-email-2:before { content: "\f173"; }
.flaticon-verified:before { content: "\f174"; }
.flaticon-coin:before { content: "\f175"; }
.flaticon-danger:before { content: "\f176"; }
.flaticon-shield-1:before { content: "\f177"; }
.flaticon-idea:before { content: "\f178"; }
.flaticon-filter:before { content: "\f179"; }
    
    $font-Flaticon-gear: "\f100";
    $font-Flaticon-lock: "\f101";
    $font-Flaticon-security: "\f102";
    $font-Flaticon-global: "\f103";
    $font-Flaticon-server: "\f104";
    $font-Flaticon-shield: "\f105";
    $font-Flaticon-cpu: "\f106";
    $font-Flaticon-lightbulb: "\f107";
    $font-Flaticon-code: "\f108";
    $font-Flaticon-chronometer: "\f109";
    $font-Flaticon-code-1: "\f10a";
    $font-Flaticon-download: "\f10b";
    $font-Flaticon-key: "\f10c";
    $font-Flaticon-upload: "\f10d";
    $font-Flaticon-magnifying-glass: "\f10e";
    $font-Flaticon-code-2: "\f10f";
    $font-Flaticon-mouse: "\f110";
    $font-Flaticon-modem: "\f111";
    $font-Flaticon-code-3: "\f112";
    $font-Flaticon-gear-1: "\f113";
    $font-Flaticon-keyboard: "\f114";
    $font-Flaticon-cloud-computing: "\f115";
    $font-Flaticon-security-1: "\f116";
    $font-Flaticon-cloud-computing-1: "\f117";
    $font-Flaticon-code-4: "\f118";
    $font-Flaticon-global-1: "\f119";
    $font-Flaticon-code-5: "\f11a";
    $font-Flaticon-ram: "\f11b";
    $font-Flaticon-upload-1: "\f11c";
    $font-Flaticon-server-1: "\f11d";
    $font-Flaticon-modem-1: "\f11e";
    $font-Flaticon-code-6: "\f11f";
    $font-Flaticon-firewall: "\f120";
    $font-Flaticon-cpu-1: "\f121";
    $font-Flaticon-code-7: "\f122";
    $font-Flaticon-folder: "\f123";
    $font-Flaticon-virus: "\f124";
    $font-Flaticon-computer: "\f125";
    $font-Flaticon-server-2: "\f126";
    $font-Flaticon-virus-1: "\f127";
    $font-Flaticon-security-2: "\f128";
    $font-Flaticon-folder-1: "\f129";
    $font-Flaticon-cpu-2: "\f12a";
    $font-Flaticon-server-3: "\f12b";
    $font-Flaticon-server-4: "\f12c";
    $font-Flaticon-cpu-3: "\f12d";
    $font-Flaticon-code-8: "\f12e";
    $font-Flaticon-password: "\f12f";
    $font-Flaticon-code-9: "\f130";
    $font-Flaticon-software: "\f131";
    $font-Flaticon-online-shopping: "\f132";
    $font-Flaticon-backup: "\f133";
    $font-Flaticon-chat: "\f134";
    $font-Flaticon-streaming: "\f135";
    $font-Flaticon-online: "\f136";
    $font-Flaticon-live-streaming: "\f137";
    $font-Flaticon-social-media: "\f138";
    $font-Flaticon-sharing: "\f139";
    $font-Flaticon-online-gaming: "\f13a";
    $font-Flaticon-online-banking: "\f13b";
    $font-Flaticon-online-1: "\f13c";
    $font-Flaticon-email: "\f13d";
    $font-Flaticon-online-music: "\f13e";
    $font-Flaticon-online-gaming-1: "\f13f";
    $font-Flaticon-audio-book: "\f140";
    $font-Flaticon-ebook: "\f141";
    $font-Flaticon-mobile-video: "\f142";
    $font-Flaticon-subscription: "\f143";
    $font-Flaticon-renew: "\f144";
    $font-Flaticon-online-shopping-1: "\f145";
    $font-Flaticon-online-2: "\f146";
    $font-Flaticon-phone: "\f147";
    $font-Flaticon-cloud-storage: "\f148";
    $font-Flaticon-transfer-money: "\f149";
    $font-Flaticon-stream-video: "\f14a";
    $font-Flaticon-worldwide: "\f14b";
    $font-Flaticon-calendar: "\f14c";
    $font-Flaticon-arroba: "\f14d";
    $font-Flaticon-mail: "\f14e";
    $font-Flaticon-telephone: "\f14f";
    $font-Flaticon-contract: "\f150";
    $font-Flaticon-placeholder: "\f151";
    $font-Flaticon-telephone-1: "\f152";
    $font-Flaticon-telephone-2: "\f153";
    $font-Flaticon-message: "\f154";
    $font-Flaticon-sms: "\f155";
    $font-Flaticon-chat-1: "\f156";
    $font-Flaticon-wall-clock: "\f157";
    $font-Flaticon-id-card: "\f158";
    $font-Flaticon-assistance: "\f159";
    $font-Flaticon-mouse-1: "\f15a";
    $font-Flaticon-headset: "\f15b";
    $font-Flaticon-smartphone: "\f15c";
    $font-Flaticon-like: "\f15d";
    $font-Flaticon-camera: "\f15e";
    $font-Flaticon-key-1: "\f15f";
    $font-Flaticon-prize: "\f160";
    $font-Flaticon-truck: "\f161";
    $font-Flaticon-mobile-phone: "\f162";
    $font-Flaticon-amount: "\f163";
    $font-Flaticon-info: "\f164";
    $font-Flaticon-email-1: "\f165";
    $font-Flaticon-support: "\f166";
    $font-Flaticon-review: "\f167";
    $font-Flaticon-download-1: "\f168";
    $font-Flaticon-smile: "\f169";
    $font-Flaticon-account: "\f16a";
    $font-Flaticon-bell: "\f16b";
    $font-Flaticon-reuse: "\f16c";
    $font-Flaticon-share: "\f16d";
    $font-Flaticon-hand: "\f16e";
    $font-Flaticon-vip: "\f16f";
    $font-Flaticon-microphone: "\f170";
    $font-Flaticon-energy: "\f171";
    $font-Flaticon-heart: "\f172";
    $font-Flaticon-email-2: "\f173";
    $font-Flaticon-verified: "\f174";
    $font-Flaticon-coin: "\f175";
    $font-Flaticon-danger: "\f176";
    $font-Flaticon-shield-1: "\f177";
    $font-Flaticon-idea: "\f178";
    $font-Flaticon-filter: "\f179";